.attribution {
     font-size: 11px; 
     text-align: center;
     }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
.main{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 100%, 97%);
    font-family: "Ubuntu";
}
.box{
    background-color: hsl(0, 0%, 100%);
    height:89%;
    width:70%;
    border-radius: 13px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    cursor: pointer;
}
.sidebar{
    height:100%;
    width:155vw;
    background-image: url("bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    padding-top:40px;
    padding-left:30px;
    padding-right:40px;
}
.steplink{
    height:50px;
    width:100%;
    display:flex;
    justify-content: left;
    align-items: center;
    /* font-family: "Ubuntu"; */
    cursor: pointer;
    margin-bottom: 15px;
}
.steplink p{
    color: hsl(229, 24%, 87%);
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 4px;
}
.steplink h4{
    color:hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 14px;
}
.numcircle{
    height:40px;
    width:40px;
    border-radius: 50%;
    border:2px solid hsl(229, 24%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color:hsl(0, 0%, 100%);
}
.step1{
    padding:40px 90px 40px 90px;
    width:360vw;
    /* display: none; */
}
.step1 h1{
    font-size: 28px;
    color:hsl(213, 96%, 18%);
    word-spacing: 2;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}
.step1 .please{
    color: hsl(231, 11%, 63%);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 40px;
}
.info{
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}
.info1{
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}
.label{
    display:flex;
    justify-content: space-between;
    height:25px;
}
.label .error{
    color:hsl(354, 84%, 57%);
    font-size: 14px;
    display: none;
}
.info1 label{
    font-size: 14px;
    font-weight: 200;
    color: hsl(213, 96%, 18%);
}
.info1 .inp{
    padding: 14px;
    border-radius: 10px;
    border:1px solid hsl(229, 24%, 87%);
    cursor: pointer;
    color:hsl(213, 96%, 18%); 
    caret-color:hsl(213, 96%, 18%);
    font-family: "Ubuntu";
    font-size: 15px;
}
.info1 .inp::placeholder{
    color:hsl(231, 11%, 63%);
}
.info1 .inp:focus{
    outline:1px solid hsl(243, 100%, 62%) ;
}

.next1{
    margin-left: 369px;
    background-color:hsl(213, 96%, 18%) ;
    color:hsl(0, 0%, 100%);
    font-family: "Ubuntu";
    padding:10px 20px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}
#numcircle1{
    background-color: hsl(206, 94%, 87%);
    color:hsl(213, 96%, 18%) ;
}
.step2{
    display:none;
    padding:40px 90px 40px 90px;
    width:360vw;
}
.step2 h1{
    font-size: 28px;
    color:hsl(213, 96%, 18%);
    word-spacing: 2;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}
.step2 .billing{
    color: hsl(231, 11%, 63%);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 40px;
}
.cards{
    display: flex;
    margin-bottom: 33px;
    justify-content: space-between;
}
.card1{
    border:1px solid hsl(229, 24%, 87%);
    border-radius: 10px;
    padding:18px 12px 16px 14px;
    width:145px;
}
.card1:hover{
    border:1px solid hsl(243, 100%, 62%);
}
.card1 img{
    margin-bottom: 40px;
}
.card1 h4{
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 400;
    color:hsl(213, 96%, 18%);
    margin-bottom: 4px;
}
.card1 p{
    color: hsl(231, 11%, 63%);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .3px;
    margin-bottom: 3px;
}
.card1 h5{
    display: none;
    font-size: 13px;
    font-weight: 400;
    color:hsl(213, 96%, 18%);
    margin-bottom: 4px;
}
.select{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 100%, 97%);
    height:50px;
    border-radius: 5px;
    margin-bottom: 110px;
}
.select .tab{
    height:20px;
    width:40px;
    background-color: hsl(213, 96%, 18%);
    border-radius: 50px;
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    padding:5px;
    margin-left: 25px;
    margin-right: 25px;
}
.monthcirc{
    height:13px;
    width:13px;
    border-radius: 50%;
    background-color:hsl(0, 0%, 100%) ;
}
.yearcirc{
    display: none;
    height:13px;
    width:13px;
    border-radius: 50%;
    background-color:hsl(0, 0%, 100%);
}
.month{
    font-size: 15px;
    color:hsl(213, 96%, 18%);
}
.year{
    font-size: 15px;
    color:hsl(231, 11%, 63%);
}
.btns{
    display: flex;
    justify-content: space-between;
}
.btns .back1{
    border: none;
    background-color: transparent;
    font-family: "Ubuntu";
    font-size: 15px;
    color:hsl(231, 11%, 63%);
    cursor: pointer;
}
.back1:hover{
    color:hsl(213, 96%, 18%);
}
.next2{
    background-color:hsl(213, 96%, 18%) ;
    color:hsl(0, 0%, 100%);
    font-family: "Ubuntu";
    padding:10px 20px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}
.step3{
    display:none;
    padding:40px 90px 40px 90px;
    width:360vw;
}
.step3 h1{
    font-size: 28px;
    color:hsl(213, 96%, 18%);
    word-spacing: 2;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}
.step3 .add_ons{
    color: hsl(231, 11%, 63%);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 40px;
}
.choice1{
    height:80px;
    margin-bottom: 13px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid hsl(229, 24%, 87%);
    border-radius: 8px;
    padding:20px;
}
.choice1:hover{
    border:1px solid hsl(243, 100%, 62%);
}
.choiceleft{
    display: flex;
    align-items: center;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 22px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border:1px solid hsl(229, 24%, 87%);
    border-radius: 4px;
  }
   
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: hsl(243, 100%, 62%);
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
.choicedetail{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 20px;
} 
.choicedetail h4{
    font-size: 15.5px;
    font-weight: 500;
    color:hsl(213, 96%, 18%);
    margin-bottom: 4px;
}
.choicedetail p{
    color: hsl(231, 11%, 63%);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
}
.choice1 h5{
    color:hsl(243, 100%, 62%);
    font-weight: 400;
    font-size: 14px;
}
.btns .back2{
    border: none;
    background-color: transparent;
    font-family: "Ubuntu";
    font-size: 15px;
    color:hsl(231, 11%, 63%);
    cursor: pointer;
}
.back2:hover{
    color:hsl(213, 96%, 18%);
}
.next3{
    background-color:hsl(213, 96%, 18%) ;
    color:hsl(0, 0%, 100%);
    font-family: "Ubuntu";
    padding:10px 20px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}
.choices{
    margin-bottom: 95px;
}
.step4{
    display: none;
    padding:40px 90px 40px 90px;
    width:360vw;
}
.step4 h1{
    font-size: 28px;
    color:hsl(213, 96%, 18%);
    word-spacing: 2;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}
.step4 .double_check{
    color: hsl(231, 11%, 63%);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 40px;
}
.box_check{
    background-color: hsl(217, 100%, 97%);
    padding:25px 22px;
    width:100%;
    border-radius: 10px;
    padding-bottom: 30px;
}
.box_check .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.box_check .top .selected{
    display: inline-block;
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 400;
    color:hsl(213, 96%, 18%);
}
.box_check .top .select_type{
    display: inline-block;
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 400;
    color:hsl(213, 96%, 18%);
    margin-left: 2px;
}
.box_check .top .ruppee{
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 600;
    color:hsl(213, 96%, 18%);
}

.box_check hr{
    border: none;
    height:.5px;
    background-color: hsl(229, 24%, 87%);
}
.box_check .top_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
}
.top_left_bottom .change{
    color: hsl(231, 11%, 63%);
    font-size: 14px;
    font-weight: 400;
}
.box_check .bottom #bottom1{
    margin-top:20px;
    display: none;
}
.box_check .bottom #bottom2{
    margin-top:20px;
    display: none;
}
.box_check .bottom #bottom3{
    margin-top:20px;
    display: none;
}
.box_check .bottom .bottom_text{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_check .bottom_text .desc{
    color:hsl(231, 11%, 63%);
    font-size: 14px;
    font-weight: 400;
}

.box_check .bottom_text .cost{
    color:hsl(213, 96%, 18%);
    font-size: 14px;
    font-weight: 300;
}
.step4 .total{
    padding:30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total .total_left{
    color:hsl(231, 11%, 63%);
    font-size: 14px;
}
.total .total_cost{
    color:hsl(243, 100%, 62%);
    font-size: 17px;
    font-weight: 600;
}
.step4 .btns{
    position: absolute;
    bottom: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:35%;
}
.btns .back3{
    border: none;
    background-color: transparent;
    font-family: "Ubuntu";
    font-size: 15px;
    color:hsl(231, 11%, 63%);
    cursor: pointer;
}
.back3:hover{
    color:hsl(213, 96%, 18%);
}
.confirm{
    background-color:hsl(243, 100%, 62%) ;
    color:hsl(0, 0%, 100%);
    font-family: "Ubuntu";
    padding:10px 22px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}
.confirm:hover{
    opacity: .6;
}
.step5{
    display: none;
    padding:40px 90px 40px 90px;
    width:360vw;
}
.interior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.change:hover{
    color:hsl(243, 100%, 62%);
}
.ty{
    color:hsl(213, 96%, 18%);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 25px;
    word-spacing: 1px;
}
.tydesc{
    text-align: center;
    color:hsl(231, 11%, 63%);
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.5;
    padding:0px 20px;
    /* letter-spacing: 1px; */
    word-spacing: 1px;
}
@media (max-width:375px) {
    .main{
        display: block;
        background-color: hsl(0, 0%, 100%);
    }
    .box{
        height:88%;
        width:100%;
        border-radius: 0px;
        display: inline-block;
        padding: 0px;
        justify-content:none;
        background-color: hsl(217, 100%, 97%);
    }
    .sidebar{
        height:30%;
        width:100%;
        text-align: center;
        background-image: url("bg-sidebar-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        padding-top:30px;
        padding-left:0;
        padding-right:0;
    }
    .steplink{
        display: inline-block;  
        font-family: "Ubuntu"; 
        cursor: pointer; 
        max-width: fit-content;
    }
    .steplink p{
        display: none;
    }
    .steplink h4{
         display: none;
    }

    .numcircle{
        height:35px;
        width:35px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .step1{
        width:89%;
        height: 70%;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: -83px;
        border-radius: 10px;
        padding:25px 16px;
        background-color: hsl(0, 0%, 100%);
        /* display: none; */
    }
    .step1 .please{
        margin-bottom: 25px;
    }

    .info1{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .label{
        display:flex;
        justify-content: space-between;
        height:23px;
    }
    .next1{
        margin-left: 190px;
        padding:10px 16px;
    }
    .step2{
        width:89%;
        height:70%;
        margin-right:20px;
        margin-left:20px;
        margin-top:-83px;
        border-radius:10px;
        padding:25px 16px;
        background-color:hsl(0, 0%, 100%);
        display: none;
    }
    .step2 .billing{
        margin-bottom:0px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom:10px;
        justify-content: space-between;
    }
    .card1{
        border:1px solid hsl(229, 24%, 87%);
        border-radius: 10px;
        padding:12px 18px;
        width:100%;
        display: flex;
        margin-bottom: 13px;
    }
    .card1 img{
        margin-bottom: 0px;
        margin-right: 10px;
    }
    .next2{
        padding:10px 20px;      
    }
    .select{
        margin-bottom: 40px;
    }
    .attribution{
        display: none;
    }
    .step3{
        width:89%;
        height:70%;
        margin-right:20px;
        margin-left:20px;
        margin-top:-83px;
        border-radius:10px;
        padding:25px 16px;
        background-color:hsl(0, 0%, 100%);
        display: none;
    }
    .step4{
        width:89%;
        height:70%;
        margin-right:20px;
        margin-left:20px;
        margin-top:-83px;
        border-radius:10px;
        padding:25px 16px;
        background-color:hsl(0, 0%, 100%);
        display: none;
    }
}